@page
@model CLOUD.Pages.GaleriaModel
@{
    ViewData["Title"] = "Galería";
}
<section class="galeria-contenedor">
    <h2 class="titulo-seccion">Galería de la Biblioteca</h2>

    <div class="galeria">
        <div class="galeria-item">
            <img src="https://bucket-evaluacion-luis.s3.us-east-1.amazonaws.com/static/images/imagen1.jpg" alt="Cuenta cuentos">
            <div class="galeria-caption">Actividad de cuenta cuentos</div>
        </div>
        <div class="galeria-item">
            <img src="https://bucket-evaluacion-luis.s3.us-east-1.amazonaws.com/static/images/imagen2.jpg" alt="Exposición de consolas antiguas">
            <div class="galeria-caption">Exposición de Videojuegos</div>
        </div>
        <div class="galeria-item">
            <img src="https://bucket-evaluacion-luis.s3.us-east-1.amazonaws.com/static/images/imagen3.jpg" alt="Nuevo Material">
            <div class="galeria-caption">Nuevo Material en biblioteca</div>
        </div>
    </div>
</section>
